/* PORTFOLIO */

#portfolio {
  margin-top: 250px;
}

.port-header {
  text-align: center;
  color: white;
}

.portfolio-header {
  color: white;
}

/* --------------------------------------------- */
/* CARD  */

.card {
  width: 18rem;
  cursor: pointer;
  transition: all 0.5s ease;
  border-color: rgba(185, 31, 185, 0.888) !important;
  border-width: 5px;
  border-radius: 10px;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 15px 20px 20px rgba(185, 31, 185, 0.888);
}
/* --------------------------------------------- */
/* 1ST RTOW OF CARDS  */

.first-row {
  margin-top: 90px;
  
}

/* --------------------------------------------- */

/* SECOND ROW OF CARDS */

.second-row {
  margin-top: 50px;
}

.btn  {
  margin-left: 70px;
  background-color: rgba(123, 10, 123, 0.853)!important;
  border: none !important;
}

.btn:hover {
  background-color: rgba(150, 106, 179, 0.732) !important;
}

.card-img-top {
  width: 10%;
}
