/* NAVBAR  */

.nav-text {
    color: var(--light);
    text-decoration: none;
    box-shadow: inset 0 0 0 0 #96a2a8;
    color: #ffffff;
    margin: 0 -0.25rem;
    padding: 0 0.25rem;
    transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.nav-text:hover {
    box-shadow: inset 229px 0 0 0 #cc1212b3;
    color: white;
}


/* ------------------------------------------------------------------------ */

/* MY NAME LOGO */

.my-name {
    display: inline-block;
    font-size: 4rem;
    font-weight: 700;
    margin: 40px 40px;
    font-family: "Permanent Marker",
        cursive;
}

@keyframes wave {

    0%,
    100% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(-5deg);
    }

    75% {
        transform: rotate(5deg);
    }
}

.my-name {
    display: inline-block;
    font-size: 3rem;
    animation: wave 7s infinite alternate;
}