html {
    background-color: rgb(120, 109, 109);
}
/* ------------------------------------------------------------------------ */
/* NAVBAR  */

.nav-text {
    color: var(--light);
    text-decoration: none;
    box-shadow: inset 0 0 0 0 #96a2a8;
    color: #ffffff;
    margin: 0 -0.25rem;
    padding: 0 0.25rem;
    transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.nav-text:hover {
    box-shadow: inset 229px 0 0 0 #023c51;
    color: var(--light);
}

/* ------------------------------------------------------------------------ */

/* HEADER */
.header ul li {
    display: inline-block;
    list-style-type: none;
    padding: 15px;
}


.header div {
    padding-top: 60px;
    margin-right: 60px;
    float: right;
    font-family: "Permanent Marker", cursive;
    font-size: 20px;
}

/* ------------------------------------------------------------------------ */

/* MY NAME LOGO */
.my-name {
    display: inline-block;
    font-size: 4rem;
    font-weight: 700;
    margin: 40px 40px;
}

/* ------------------------------------------------------------------------ */
/* THEME  */

.light-mode {
    background-color: white;
    color: black;
}

.dark-mode {
    background-color: black;
    color: white;
}

/* ------------------------------------------------------------------------ */